
@import url(http://fonts.googleapis.com/css?family=Bigelow+Rules|Open+Sans);

.header {
  padding: 0.5em 0.7em;
  background-color: #e6e6e6;
  background-image: linear-gradient(to bottom,white,#e6e6e6);
  background-repeat: repeat-x;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  > .logo {
    display: block;
    float: left;
    color: black;
    > .anyaku {
      font-family: "Bigelow Rules";
      font-size: 28px;
      margin-right: 0.5em;
    }
    > .developer {
      position: relative;
      top: -2px;
      font-size: 22px;
    }
  }
  > ul {
    float: right;
    margin-bottom: inherit;

    > li {
      float: left;
      list-style: none;
      &.separator {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }
  }
}

.tabs {
  border-bottom: 1px gray solid;
  dd {
    border: 1px transparent solid;
    > a {
      padding: 0.5em;
    }
    &.active {
      border-color: gray;
      border-bottom-color: white;
    }
  }
}

body {
  font-family: "Open Sans";
}
