h2 How it works

p You wander how this works in detail? The following section will go into detail about how the cryptographic network
  is structured and which processes are used to keep your data safe.

p The base element of the Anyaku network is the <strong>Encrypted Profile Document (EPD)</strong>. It is a JSON-based
  data-structure, that can carry all kind of JSON-encoded data. Further, it contains all the data of a single user. No
  foreign user can change the EPD's content.

p It is an Anyaku policy, that the user's EPD goes though a <strong>locking-process</strong> before it leaves the
  user's device. That ensures, that the server only receives <strong>locked EPDs</strong> and never gets in touch with
  the EPD's unlocked version or the user's private key (that is used to lock the EPD).

img src="/images/epd-flow.svg"

p As you see in that diagram, the <strong>server only verifies</strong> the EPD's signature and stores it for later
  usage.

p Apart from the user's identity and signature, the EPD also contains a list of <strong>contacts</strong>. This list is
  basically a list of other EPD's identities that the user has set up.

p In order to <strong>share data</strong> with contacts, this data is placed in a <strong>section</strong> and the
  corresponding contact is added to this section. While the user can freely define any number of sections, two special
  sections are fixed. The <strong>public section</strong> is meant to contain data that is not encrypted and public to
  anyone and the <strong>private section</strong> keeps data that is never shared with anyone and only accessible by
  the user itself.

p The data inside a section is structured into <strong>modules</strong>. One module of a kind can be placed into a
  section.

img src="/images/epd-modules.svg"

p A <strong>Basic module</strong> for example contains basic information like a name, country and a gravatar link and
  is typically placed in the public section. Anyaku uses the information from the public Basic module (if available and
  filled by the user) to generate a search index to enable it's users to get in contact with each other.
