/* line 2, /home/phifty/projects/anyaku/developer/source/stylesheets/custom.scss */
.logo {
  width: 100px;
  margin-top: 3em;
  margin-bottom: 1em; }

/* line 8, /home/phifty/projects/anyaku/developer/source/stylesheets/custom.scss */
.logo, .side-nav a {
  float: right;
  clear: right; }
