h1 Update

tabs
  pane title="Kotlin"
    pre
      code.kotlin val basicModule = document.sections.publicSection.modules[Basic.id] as Basic
                  basicModule.name = "John Doe"

                  val updatedLockedDocument = locker.lock(document, encryptedPrivateKey)

                  client.updateDocument(updatedLockedDocument)
  pane title="Java"
    pre
      code.java Basic basicModule =
                    (Basic)document.getSections().getPublicSection().getModules().get(Basic.id);
                basicModule.name = "John Doe";

                SignedLockedDocument updatedLockedDocument = locker.lock(document, encryptedPrivateKey);

                client.updateDocument(updatedLockedDocument);
