h1 Update

p
  ' The update operation should be triggered, if the local unlocked EPD has changed and the changes should be published
  ' to the members of the Anyaku network. It simply locks the updated EPD and pushes the locked version to the Anyaku
  ' Backend.

tabs
  pane title="Kotlin"
    pre
      code.kotlin val basicModule = document.sections.publicSection.modules[Basic.id] as Basic
                  basicModule.name = "John Doe"

                  val updatedLockedDocument = locker.lock(document, encryptedPrivateKey)

                  client.updateDocument(updatedLockedDocument)
  pane title="Java"
    pre
      code.java Basic basicModule = (Basic)document.getSections().getPublicSection().getModules().get(Basic.id);
                basicModule.name = "John Doe";

                SignedLockedDocument updatedLockedDocument = locker.lock(document, encryptedPrivateKey);

                client.updateDocument(updatedLockedDocument);

p
  ' To learn about how to find EPD in the Anyaku network, follow up to the documentation of the
  ' <a href="/documentation/operations/search">search</a> operation.
