doctype html
html class="no-js" lang="en" ng-app="main"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width"
    link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css"
    link href="/stylesheets/foundation.css" rel="stylesheet" type="text/css"
    link href="http://yandex.st/highlightjs/7.5/styles/googlecode.min.css" rel="stylesheet" type="text/css"
    link href="/stylesheets/custom.css" rel="stylesheet" type="text/css"

    title Encrypted Profile Documents

  body
    .row
      .columns.large-3
        img.logo src="/images/logo.svg"
        ul.side-nav
          li
            a href="/" Getting started
          li
            a href="/how-it-works" How it works

      .columns.large-9 ng-view=""

    - Dir[ File.join(File.dirname(__FILE__), 'pages', '*.slim') ].each do |filename|
      - id = File.basename(filename, '.slim').sub(/^_/, '')
      script id="#{id}" type="text/ng-template"
        = partial "pages/#{id}"

    script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js" type="text/javascript"
    script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js" type="text/javascript"
    script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-cookies.js" type="text/javascript"
    script src="http://yandex.st/highlightjs/7.5/highlight.min.js" type="text/javascript"
    script src="/javascripts/custom.js" type="text/javascript"
